.logo {
  width: 100%;
  max-width: 400px; /* Adjust the max width according to your design */
}

.responsive-logo {
  width: 100%;
  height: auto;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the container is at least as tall as the viewport */
}

.content {
  flex: 1; /* Pushes the footer to the bottom */
  padding: 20px;
}